.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #a59c9c;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo_header {
  text-decoration: none;
}

.img_logo_header {
  width: 120px;
  height: auto;
}

.navigation_header {
  display: flex;
  align-items: center;
}

.navigation_header a {
  text-decoration: none;
  color: #333;
  margin-right: 10px;
  padding: 5px;
}

.navigation_header a.active {
  font-weight: bold;
}

.user {
  width: 40px;
  height: auto;
  margin-left: 10px;
}

.header__exit {
  border: none;
  background: none;
  cursor: pointer;
}

.header__exit img {
  margin-left: 50px;
  width: 40px;
  height: 40px;
}

.tours {
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

.courses {
  padding-left: 10px;
}

.active_header {
  display: inline-block;
  font-weight: bold;
  background-color: #6b616186;
  border-radius: 4px;
  padding: 9px;
  text-decoration: underline;
}
