.container {
  max-width: 600px;
  margin: 10px auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
}

.cardImage {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
  border-left: 4px solid #007bff;
  padding-left: 10px;
}

.place,
.address {
  font-size: 16px;
  color: #777;
  margin-bottom: 10px;
}

.place::before,
.address::before {
  content: "•";
  margin-right: 6px;
}

.categoryTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.addCategoryButton {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: var(--color-blue);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.addCategoryButton:hover {
  background-color: #0056b3;
}

.tagInput,
.categoryInput {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
}

.deleteCategoryButton {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #dc3545;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.deleteCategoryButton:hover {
  background-color: #c82333;
}

.tags {
  margin-top: 30px;
  white-space: nowrap;
  overflow-x: auto;
}

.tagItem {
  display: inline-flex; /* Use flexbox for tag items */
  align-items: center; /* Align items vertically */
  background-color: var(--color-blue);
  color: #fff;
  border-radius: 20px;
  padding: 8px 12px;
  font-size: 14px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.tagItem:hover {
  background-color: #0056b3;
}

.tagInputContainer {
  display: flex;
  align-items: center;
}

.addButton {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: var(--color-blue);
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addButton:hover {
  background-color: #0056b3;
}

.deleteButton {
  background: none;
  border: none;
  padding: 0;
  margin-left: 4px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.deleteButton img {
  margin-left: 4px;
  width: 28px;
  height: 28px;
}

.deleteButton:hover {
  opacity: 0.7;
}

.categoryInputContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.setCategoryButton {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: var(--color-blue);
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.setCategoryButton:hover {
  background-color: #0056b3;
}

.cardTitle {
  background-color: #c8d2dc;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.cardTitle .title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cardTitle .description {
  font-size: 18px;
  margin-bottom: 10px;
}

.cardTitle .place,
.cardTitle .address {
  font-size: 16px;
  margin-bottom: 5px;
}

.category {
  display: inline-flex;
  align-items: center;
  background-color: #8697a8;
  color: #fff;
  padding: 6px 12px;
  border-radius: 20px;
  margin-right: 8px;
  font-size: 14px;
  font-weight: bold;
}

.category:hover {
  background-color: #7e9b9f;
}

.category .deleteButton {
  margin-left: 8px;
  transition: transform 0.3s;
}

.deleteButton:hover {
  transform: scale(1.1);
}

.comments {
  margin-top: 20px;
}

.commentsTitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.commentUser {
  font-weight: bold;
}

.commentText {
  margin-top: 5px;
}

.commentInput {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
}

.commentButton {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: var(--color-blue);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.commentButton:hover {
  background-color: #0056b3;
}

.setComments {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: var(--color-blue);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.setComments:hover {
  background-color: #0056b3;
}
